
//Font Family
$font-family: 'Montserrat Alternates', sans-serif;

//Font Size
h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 800;
    font-size: 24pt
}
h2 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 800;
    font-size: 18pt
}
h3 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 800;
    font-size: 16pt
}
p {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    font-size: 12pt
}
li {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    font-size: 10pt
}


// Font Weight

/* Base Typography*/

