
//Font Family
$font-family: 'Montserrat Alternates', sans-serif;

//Font Size
h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 800;
    font-size: 26pt
}
h2 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 800;
    font-size: 22pt
}
h3 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 800;
    font-size: 20pt
}
p {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    font-size: 14pt
}
li {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    font-size: 14pt
}


// Font Weight

/* Base Typography*/

