
.portfolio_contacto {
    height: 40vh;
    padding-top: 5vh;
    color: #ffffff;
    background-color: #000000;
    text-decoration: none;
}

.portfolio_contacto_link {
    color: #ffffff;
    text-decoration: none;
}