
.portfolio_personal {
    background-image: url(../img/fondo_personal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 50vh;

    img {
        height: 20vh;
        align-items: center;
    }
}