
.portfolio_personal {
    background-image: url(../img/fondo_personal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 5vh;
    text-align: center;
}

.portfolio_personal_foto {
    height: 35vh;
    background-image: url(../img/personal.jpg);
    background-repeat: no-repeat;
}

.portfolio_personal_texto {
    padding-top: 10vh;
    padding-bottom: 10vh;
    align-items: center;
}

.portfolio_personal_toolkit {
    text-align: left;
    padding-bottom: 5vh;
}