
.portfolio_personal {
    height: 40vh;
    padding-top: 5vh;
    background-image: url(../img/fondo_personal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: left;
    color: #ffffff;
}

.portfolio_personal_texto {
    padding-top: 10vh;
    padding-bottom: 10vh;
    align-items: left;
}

.portfolio_personal_toolkit {
    text-align: left;
    padding-bottom: 5vh;
    color: #ffffff;
}