
body {
    margin: 0;
}

.navbar {
    padding: 0;
}

.nav-item {
    color: #ffffff;
}

.portfolio_menu_buttons {
    color: #ffffff;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

/*.navbar {
    width: 100vw;
}*/